Django>=6.1
djangorestframework>=3.18
djangorestframework-simplejwt>=5.5
django-filter>=26.1
django-cors-headers>=4.9
python-decouple>=3.8
dj-database-url>=2.3
psycopg2-binary>=2.9
whitenoise>=6.9
gunicorn